body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
@font-face {
    font-family: 'MarcellusSC-Regular';
    src: url('../fonts/MarcellusSC-Regular.ttf') format('truetype');
}
h1 {
    font-family: MarcellusSC-Regular;
    /*font-weight: 800;*/
    color: #264363;
    font-size: 55px;
    text-transform: uppercase;
}
h2{
    font-family: 'Century Gothic';
}
.button {
    background-color: #264363;
    border: 2px solid #264363;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    font-family: 'Century Gothic';
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
}
.button:hover {
    background-color: white;
    color: #264363;
    text-decoration: none;
}
.table > tbody > tr > th{
    vertical-align: middle;
}
.button-sm {
    padding: 10px 24px;
    font-size: small;
}